<% content_for :left do %>
  <%= render :partial => 'course_list', :object => @courses %>
<% end %>

<h2>
  <span style="float:left;"><%= h current_user.full_name %> - All Courses</span>
  <span style="float:right;"><%= h @school_year.name %></span>
</h2>
<div class="spacer">&nbsp;</div>

<%= my_grades_table %>

