<div class="span-14">
  <form id="comments_grid">
    <div>
      <table class="fixed-grid master">
        <thead>
        <tr>
          <th width='100'>Student Name</th>
          <th>Comments</th>
        </tr>
        </thead>
        <tbody>
          <%= comments_body %>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div class="span-4">
  <form id="quick_comments">
    <table class="master">
      <thead>
        <tr><th>Quick Comments</th></tr>
      </thead>
      <tbody>
        <%= quick_comments_body %>
      </tbody>
    </table>
  </form>
</div>

<%= javascript_tag "this.processPage('comments');" %>
