<form>
  <table class='grade-grid sortable scroll master'>
    <thead>
      <tr>
        <th>Student Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</form>

<%= javascript_tag do this.processPage('comments'); %>
