<form id='grade_grid'>
  <table style="table-layout:fixed;" class='master grade-grid grade-grid-header'>
    <thead><%= grades_header %></thead>
  </table>

  <div style="height: 500px; overflow:auto;">
    <table style="table-layout:fixed;" class='master grade-grid'>
      <tbody>
        <%= grades_body %>
      </tbody>
    </table>
  </div>
</form>

<span class="paginate">
  <%= will_paginate @assignments,
    :name           => 'assignments',
    :previous_label => '« Newer',
    :next_label     => 'Older »',
    :separator      => '&nbsp;&nbsp;' %>
</span>

<% javascript_tag do %>
  // Update the status of each grade
  $('grade_grid').getInputs().each(grade_status);

  // Set up the keyboard controls for this form
  <%= render :partial => 'form_control.js' %>

<% end %>

<%#= javascript_include_tag 'pagination' %>


