<form id='grade_grid'>
  <table style="table-layout:fixed;" class='master grade-grid grade-grid-header'>
    <thead><%= grades_header %></thead>
  </table>

  <div style="height: 500px; overflow:auto;">
    <table style="table-layout:fixed;" class='master grade-grid'>
      <tbody>
        <%= grades_body %>
      </tbody>
    </table>
  </div>
</form>

<span class="paginate">
  <%= will_paginate @assignments %>
</span>

<% javascript_tag do %>
  // Load the grade display helpers
  <%= render :partial => 'grade_display.js' %>
  $('grade_grid').getInputs().each(grade_status);
<% end %>
