<form id="skill_grid">
  <table class='master grade-grid grade-grid-header'>
    <thead><%= skills_header %></thead>
  </table>

  <div style="height: 500px; overflow:auto;">
    <table class="skill-grid master">
      <thead>
      </thead>
      <tbody>
        <%= skills_body %>
      </tbody>
    </table>
  </div>
</form>