<form id="skills_grid">
  <table class='master fixed-grid fixed-grid-header'>
    <thead><%= skills_header %></thead>
  </table>

  <div style="height: 500px; overflow:auto;">
    <table class="fixed-grid master">
      <thead>
      </thead>
      <tbody>
        <%= skills_body %>
      </tbody>
    </table>
  </div>
</form>

<span class="paginate" id="skills_pagination" name="skills">
  <%= will_paginate @ctskills,
    :renderer       => 'RemoteLinkRenderer',
    :remote         => {:update => 'skills', :loading => "show_message('skills');"},
    :separator      => '&nbsp;&nbsp;' %>
</span>

<%= javascript_tag "window.processPage('skills');" %>
