<% skills = @course_term.supporting_skills %>

<form id='skill_grid'>
  <table class='skill-grid sortable scroll master'>
    <thead>
      <tr>
        <th>Student Name</th>
        <% if skills.length == 0 then %>
          <th>No Skills Found</th>
        <% else %>
          <% skills.each do |skill| %>
            <th width='50' class='skill' id='<%= skill.id %>'>
              <div class='skill-name'><%= h skill.description %></div>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= skills_body %>
    </tbody>
  </table>
</form>