<% content_for :left do %>
  <%= show_course_term_list %>
<% end %>

<%# This is an expensive operation and I don't want to haul this data from the controller %>
<% @students = @course_term.students.sort_by {|a| a.last_name } %>

<ul id="evaluations" class="subsection_tabs">
  <li class="tab"><a href="#assignments">Assignments</a></li>  
  <li class="tab"><a href="#skills">Supporting Skills</a></li>  
  <li class="tab hidden"><a href="#comments">Comments</a></li>
</ul>

<div id="assignments"><%= render :partial => "grades" %></div>
<div id="skills" class="hidden"><%= render :partial => "skills" %></div>
<div id="comments" class="hidden"><%#= render :partial => "comments" %></div>

<% content_for :page_footer do %>
  <% javascript_tag do %>
    // Build the graphical tabs
    new Control.Tabs("evaluations");
    $("skills").removeClassName("hidden");

    // Set up the keyboard controls for this form
    <%= render :partial => 'form_control.js' %>

  <% end %>
<% end %>