<% fields_for_range(grade_range) do |ff| %>
  <div class='grade_range'>
    From <%= ff.text_field :max_score, :size => '3' %>%
    to <%= ff.text_field :min_score, :size => '3' %>% 
    is a <%= ff.text_field :grade, :size => '3' %>

    <%= link_to_function "remove", "$(this).up('.grade_range').remove()", :class => 'btn standard' %>
  </div>
<% end %>

