<% content_for :left do %>
  We'll read from the COMMENTS table to get any 'news' items that might be of interest
  to the user.  I think the LEFT slab will work well for that.
<% end %>

<h2>Welcome to the Gradesheet program.</h2>

<p>
It is out sincere hope that you will find this system useful beyond all compare.
There are a few things you need to know about the system, so read the bullet
points and be enlightened.
</p>

<h2>Interesting Tidbits</h2>
<ul>
  <li>TEST</li>
  <li>TEST</li>
  <li>TEST</li>
  <li>TEST</li>

</ul>
