<% content_for :left do %>

<% new_years = Date.new(Date.today.year + 1, 1, 1) - Date.today %>

<h2>How much time do we have left?</h2>
<ul>
	<%= content_tag :li, (new_years).to_s + (new_years == 1 ? ' day' : ' days') + ' until the New Year.' %>
	<%= content_tag :li, '21 days until the end of this grading period.' %>
	<%= content_tag :li, '91 days until the end of the school year.' %>
</ul>

<% end %>

<h2>Welcome to the Gradesheet program.</h2>

<p>
This is a pre-Beta version of the GradeSheet software.  All of the data here is
generated and most of it is non-sensical.  However, it is a starting point and 
should give you enough 'things' to be able to excercise the program a little bit.
Please, take a look around and push all the buttons.  You can't hurt anything here.
If you find something interesting, please <a href='mailto:gradesheet@kangaroobox.com'>let us know about it</a>.</p>

<p>
Thank you!<br />
KangarooBox, LLC.
</p>

<h2>Latest News</h2>
<ul>
  <li>The <a href='/courses'>Courses</a> page has been heavily reworked.  Please play
  	with it a little bit to see how it works.  </li>
  <li>You are automatically logged in as a teacher named 'Kim Hurt'.  Someday soon you
	  will be able to log into the system as a Student, Teacher Assistant or another
	  Teacher.</li>
  <li>I am trying a couple of new things with the left side column on this page.  How do you
  	like them?  What would you like to see there?</li>
</ul>
