*~
log/*
tmp/*
rdoc
coverage.data
coverage/*
database.yml
*.sqlite
*.sqlite3
*.autosave
schema.rb
doc/api
doc/app_horo
doc/*.png
.DS_Store
.svn
public/system/*
config/analytics.js
nbproject/*
vendor/plugins/prawn-format
vendor/plugins/validates_date_time
