
<table class="list">
	<thead>
		<tr><th>Course</th></tr>
	</thead>
	<tbody>
		<% for course in @courses -%>
		<tr class="<%= cycle('odd', 'even') %>" onclick="<%= 
					remote_function(
								:update => 'master', 
								:url => assignment_url(course), :action => :show, :method => :get,
								:loading => "Element.show('busy')",
								:complete => "Element.hide('busy')") %>" />
			<td><%= course.name %></td>
		</tr>
		<% end -%>
	</tbody>
</table>

<table id="master" class="master">
  <thead>
    <tr>
      <th>Name</th>
      <th>Possible points</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Possible points</th>
    </tr>
  </tfoot>
</table>

    <td><%#= link_to 'Show', assignment %></td>
    <td><%#= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%#= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>

<br />


<div class="buttons">
	<%= link_to 'New assignment', new_assignment_path, :class=> "positive" %>
</div>
