<% content_for :left do %>
	<%= render :partial => 'course_list' %>
<% end %>

<div id="assignments_list">
	<%= render :partial => "assignment_list" %>
</div>

<div class="buttons">
	<%= link_to 'New assignment', new_assignment_path, :class=> "positive" %>
</div>


	<%#= link_to 'Show', assignment %>
	<%#= link_to 'Edit', edit_assignment_path(assignment) %>
	<%#= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %>
