<% content_for :left do %>
	<%= show_course_list %>
<% end %>

<div id='details'>
	<table class='master'>
		<thead>
			<th>Assignment Name</th>
			<th>Possible Points</th>
			<th>Type</th>
			<th>Due Date</th>
		</thead>
		<tbody>
				<tr class='help'><td colspan='10'><--&nbsp; Choose a course from the list at the left</td></tr>
		</tbody>
	</table>
</div>
