<% content_for :left do %>
	<%= show_course_term_list %>
<% end %>

<%= error_messages_for :assignment, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div id='assignment_list'>
	<%= render :partial => 'assignment_list' %>
</div>

