<h1>Editing teacher_assistant</h1>

<% form_for(@teacher_assistant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @teacher_assistant %> |
<%= link_to 'Back', teacher_assistants_path %>
