<h1>Listing teacher_assistants</h1>

<table>
  <tr>
  </tr>

<% for teacher_assistant in @teacher_assistants %>
  <tr>
    <td><%= link_to 'Show', teacher_assistant %></td>
    <td><%= link_to 'Edit', edit_teacher_assistant_path(teacher_assistant) %></td>
    <td><%= link_to 'Destroy', teacher_assistant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New teacher_assistant', new_teacher_assistant_path %>
