<h1>New teacher_assistant</h1>

<% form_for(@teacher_assistant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', teacher_assistants_path %>
