<% content_for :left do %>
	<%= render :partial => 'users/user_types' %>
<% end %>

<div id="users">
	<%= render :partial => "users/user_list", :locals => { :users => @students }  %>
</div>

<br />

<%#= link_to 'New Student', new_student_path %>

