<% form_tag students_path, :method => 'get' do %>
  <p><% content_tag :label do %>
    Find Name:
    <%= text_field_tag :search, params[:search] %>
	<% end %>
	</p>
<% end %>  

<div id="table">
	<%= render :partial => "student_list" %>
</div>

<%= will_paginate @students %>

<br />

<%= link_to 'New Student', new_student_path %>

