/* The 'Left Menu' 2 column Liquid Layout																	*/
/* http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-ems.htm */

/* General styles */
body {
  margin:0;
  padding:0;
  border:0;			/* This removes the border around the viewport in old versions of IE */
  width:100%;
  background:#fff;
  min-width:600px;    /* Minimum width of layout - remove line if not required */
                      /* The min-width property does not work in old versions of Internet Explorer */
  font-size:90%;
}

/* 'widths' sub menu */
#layoutdims {
  clear:both;
  background:#eee;
  border-top:4px solid #000;
  margin:0;
  padding:6px 15px !important;
  text-align:right;
}
/* column container */
.colmask {
  position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
  clear:both;
  float:left;
  width:100%;			/* width of whole page */
  overflow:hidden;	/* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.leftmenu {
  background:#DDD;
}
.leftmenu .colright {
  float:left;
  width:200%;
  position:relative;
  left:200px;
  background:#FFF;
}
.leftmenu .col1wrap {
  float:right;
  width:50%;
  position:relative;
  right:200px;
  padding-bottom:1em;
}
.leftmenu .col1 {
	margin:0 15px 0 215px;
	position:relative;
	right:100%;
	overflow:hidden;
}
.leftmenu .col2 {
	float:left;
	width:170px;
	position:relative;
	right:185px;
}

/*** Local layout ***/
#header {
	background-color: #003366;
	color: white;
}
#header .tagline {
	font-size: 1.8em;
	position: absolute;
	top: 10px;
  left: 125px;
}
#header .login {
	float: right;
	padding: 10px;
}
#header .login a {
	color: #FFFF00;
}
#header img {
	float: none;
	padding: 10px;
}
#header .flash {
	background-color:green;
	color: #eee;
	text-align: center;
	font-weight: bold;
	padding: 2px;
}
#header .warning {
	background-color: yellow;
	color: #333;
}
#header .error {
	background-color: red;
	color: #333;
}
#footer {
	margin: auto;
	padding-top: 20px;
	text-align: center;
	font-size: 0.8em;
	clear: both;
}
.paginate {
	text-align: center;
}
h2 {
	color:#666;
	margin: 7px 0px 5px;
	font-size:16px;
}
p {
	margin-top: 10px;
}
ul {
	list-style-type: inherit;
	list-style-position: outside;
	margin-left: 10px;
}
li {
	margin: 10px;
}	
/*** Scaffold defaults ***/
.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}
#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}
div.uploadStatus {
	margin: 5px;
}
div.progressBar {
	margin: 5px;
}
div.progressBar div.border {
	background-color: #fff;
	border: 1px solid gray;
	width: 100%;
}
div.progressBar div.background {
	background-color: #333;
	height: 18px;
	width: 0%;
}
