* {
	margin: 0px;
}

body {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 13px;
	line-height: 18px;
  min-width: 630px;      /* 2x (LC fullwidth +
                            CC padding) + RC fullwidth */
}
#container {
  padding-left: 200px;   /* LC fullwidth */
  padding-right: 40px;  /* RC fullwidth + CC padding */
}
#container .column {
  position: relative;
  float: left;
}
#center {
  padding: 0px 16px;    /* CC padding */
  width: 100%;
}
#left {
  width: 180px;          /* LC width */
  padding: 0 10px;       /* LC padding */
  right: 240px;          /* LC fullwidth + CC padding */
  margin-left: -98%;
}
#right {
  width: 0px;          /* RC width */
  padding: 0 10px;       /* RC padding */
  margin-right: -190px;  /* RC fullwidth + CC padding */
}
#footer {
  clear: both;
}

/*** IE Fix ***/
* html #left {
  left: 150px;           /* RC fullwidth */
}
#header {
	background-color: #003366;
	color: white;
}
#header .tagline {
	font-size: 1.8em;
	position: absolute;
	top: 10px;
	left: 125px;
}
#header .login {
	float: right;
	padding: 10px;
}
#header .login a {
	color: #FFFF00;
}
#header img {
	float: none;
	padding: 10px;
}
#header .flash {
	background-color:green;
	color: #eee;
	text-align: center;
	font-weight: bold;
	padding: 2px;
}
#header .warning {
	background-color: yellow;
	color: #333;
}
#header .error {
	background-color: red;
	color: #333;
}
#footer {
	margin: auto;
	text-align: center;
	font-size: 0.8em;
	clear: both;
}
.clear {
	clear: both;
}

.paginate {
	text-align: center;
}

h2 {
	color:#666; 
	margin: 7px 0px 5px;
	font-size:16px;
}

/*** Scaffold ***/
.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}
#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}
div.uploadStatus {
	margin: 5px;
}
div.progressBar {
	margin: 5px;
}
div.progressBar div.border {
	background-color: #fff;
	border: 1px solid gray;
	width: 100%;
}
div.progressBar div.background {
	background-color: #333;
	height: 18px;
	width: 0%;
}
