body {
	background: #FFF url("/images/header-bg.gif") top left repeat-x; 	
}
#header .title {
	font-size: x-large;
	font-weight: bolder;
	color: #EEE;	
}
#header .tagline {
	font-size: small;
	font-weight: bolder;
	color: #EEE;	
}
#header .login {
	color: #EEE;
}
#header .login a {
	color: #FF0;
}
#flash {
	text-align: center;
}
#footer {
	margin: auto;
	padding-top: 20px;
	text-align: center;
	font-size: 0.8em;
}

.container .error, .container .notice, .container .success {padding:.5em;margin-bottom:1.1em;border:2px solid #ddd;}
.container .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.container .notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.container .success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.container .error a {color:#8a1f11; background:none; padding:0; margin:0; }
.container .notice a {color:#514721; background:none; padding:0; margin:0; }
.container .success a {color:#264409; background:none; padding:0; margin:0; }

div.box {	border: 2px solid #D2DDFE; padding: 0.5em; }

/*** Tables ***/
table {
	cursor: pointer;
	background-color: #BACAF1;
	border: 1px solid #eee;
	border-collapse: collapse;
}
/*thead th, tfoot th, tfoot td {*/
/*	background:#333 url("/images/llsh.gif") repeat-x;*/
/*	color: #fff;*/
/*	cursor: default;*/
/*	text-align: left;*/
/*}*/
thead .search {
	font-size: 0.8em;
	border: medium groove;
}
tr.even td {background:inherit;}
tbody .odd {background:#e5ecf9;}
tr.current td{background: yellow;font-style: oblique;}
tr:hover td{background-color:#FFF;}

tr.help td {
	background-color: #006600;
	color: #EEE;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	cursor: default;
}
tr.help:hover td{background-color: #009900;}
.paginate {
	text-align: center;
}


/*** Forms ***/
.spacer {
	margin-left:80px; 
	margin-bottom:10px;
	font-size:11px;
	color:#555555;
	padding: 4px;
}
form label {
	display: block;
	margin-top: 4px;
}
form label span {
  display:block;
  float:left;
  padding-right:15px;
  width:140px;
  text-align:right;
  font-weight:bold;
}
form .required {background: transparent url(/images/bullet_red.png) no-repeat scroll right center;}
.bad-grade {background:#FBE3E4 none repeat scroll 0 0;border-color:#FBC2C4;color:#8A1F11;}

/*** Buttons ***/
.positive{
  background-color: green;
  padding:0px 6px;
  border:1px outset #3b6e22;
  height:24px; 
  line-height:24px;
  color:#FFFFFF;
  font-size:12px;
  margin-right:10px;
  display:inline-block;
  text-decoration:none;
  width: 100px;
  text-align: center;
}
.negative{
  border:2px outset #fbc2c4;
	background:#FBE3E4;color:#8a1f11;
  padding:0px 6px;
  height:24px; 
  line-height:24px;
  font-size:12px;
  margin-right:10px;
  display:inline-block;
  text-decoration:none;
  width: 100px;
  text-align: center;
}
.standard{
  background: grey;
  padding:0px 6px;
  border:1px outset #3b6e22;
  height:24px; 
  line-height:24px;
  color:#FFFFFF;
  font-size:12px;
  margin-right:10px;
  display:inline-block;
  text-decoration:none;
  width: 100px;
  text-align: center;
}

/*** Scaffold defaults ***/
.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}
#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}
