body {background: #FFF url("/images/header-bg.gif") top left repeat-x;}

#header .title {font-family:Georgia,"Times New Roman",Serif;font-variant:small-caps;font-size:2em;font-weight:bold;color: #EEE;}
#header .tagline {font-weight:bold;color: #EEE;margin-top:-3px}
#header .login {color: #EEE;}
#header .login a {color: #FF0;}
#flash {text-align: center;}
#footer {margin: auto;padding-top: 20px;text-align: center;font-size: 0.8em;}
#account-info {
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color:#EFF7FF;
  padding:4px;
  text-align: center;
}
.container .error, .container .notice, .container .warning {padding:0em;margin-bottom:1.1em;border:2px solid #ddd;}
.container .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.container .warning {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.container .notice {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.container .error a {color:#8a1f11; background:none; padding:0; margin:0; }
.container .warning a {color:#514721; background:none; padding:0; margin:0; }
.container .notice a {color:#264409; background:none; padding:0; margin:0; }

div.box {	border: 2px solid #D2DDFE; padding: 0.5em; -moz-border-radius: 7px; -webkit-border-radius: 7px; }
h3 {border-bottom: 1px solid #DDD;}
.hidden { display: none; }
.left { float:left; }
.right { float:right; }

/*** Check list ***/
.checklist {
  list-style: none;
  height: 350px;
  overflow: auto;
}

.checklist .category {
  background-color: #D2DDFE;
  border: 1px solid #BBBBBB;
  font-weight: bolder;
  margin: 5px 10px;
  padding: 0 10px;
}

.checklist, .checklist li { margin: 0; padding: 0; }

.checklist label {
  display: block;
  padding-left: 25px;
  text-indent: -25px;
  font-weight: inherit;
}
* html .checklist label { height: 1%; }

.checklist label:hover { background: #777; color: #fff; }

/*** Tables ***/
table, td, th {vertical-align:bottom;}
table.master {
  cursor: pointer;
  background-color: #BACAF1;
  border: 1px solid #eee;
  border-collapse: collapse;
}
.master thead .search {font-size: 0.8em;border: medium groove;}
.master tr.current td{background: yellow;font-style: oblique;}
.master tr:hover td{background-color:#fff;}
.assign-name, .assign-points, .assign-date {font-size: 0.9em;white-space:nowrap;text-align:center;}
.assign-points {font-size: 0.8em;}
.assign-date {font-size: 0.8em;}
.skill-name {font-size: 0.9em; text-align:left;}
table.grade-grid { table-layout:fixed; width:100%; }
table.grade-grid-header { width: 98%; margin-bottom: -1px; padding:0px;}
.grades { text-align:center; }



tr.help td {
  background-color: #006600;
  color: #EEE;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  cursor: default;
}
tr.help:hover td{background-color: #009900;}
.paginate {text-align: center;}


/*** Forms ***/
.spacer {padding-left:80px; color:#555555; padding-top: 20px;}
fieldset {border:none; margin:0px; padding:0px;}
fieldset legend {text-align: center; font-size:2em;}
fieldset label {display:block;margin-top:4px;float:left; width:125px;text-align:right;padding-right:15px;clear:right;font-weight:bold;}
fieldset .req {background: transparent url(/images/bullet_red.png) no-repeat scroll right center;}
fieldset input, select {margin:5px 0; }

form .required {background: transparent url(/images/bullet_red.png) no-repeat scroll right center;}
form .input {width:40%;}
form .select {width:40%;}
.grade-warning {background:#FFF6BF none repeat scroll 0 0;border-color:#FBC2C4;color:#514721;}
.grade-error {background:#FBE3E4 none repeat scroll 0 0;border-color:#FBC2C4;color:#8A1F11;}
.grade-empty {background:#DDFFFF none repeat scroll 0 0;border-color:#FBC2C4;color:#8A1F11;}
.grade_range {border-bottom: 1px solid #999; margin:3px;}

.grade-updating { background-color: #FFFF99 !important;  }

/*** Buttons ***/
.btn {
  border:1px outset #3b6e22;
  padding:0px 6px;
  /*  height:20px; */
  /*  line-height:20px;*/
  font-size:12px;
  margin-right:10px;
  display:inline-block;
  text-decoration:none;
  width: 100px;
  text-align: center;
  /*  vertical-align: text-top;*/
}
.positive{ background-color:#f2f2f2;color:#333 }
.negative{ background-color:#FBE3E4;color:#8a1f11; }
.standard{ background-color:#f2f2f2;color:#333 }
.disabled { background-color:#f2f2f2;color:#D4D4D4}
.sml { width: 50px }

/*** Scaffold defaults ***/
.fieldWithErrors {background-color:#FFA2A2; border:1px solid #FF0000}
#errorExplanation {
  width: 500px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {color: #333;margin-bottom: 0;padding: 5px;}
#errorExplanation ul li {font-size: 12px;list-style: square;}
