table {
	width: 100%;
}
table.master {
	margin: auto;
	cursor: pointer;
}
table.detail {
	margin: auto;	
	width: 100px;
}
table.list {
	margin: 0px 5px 0px 5px;
	float: left;
	cursor: pointer;
	text-align: center;
}
table.list th {
	text-align: center;
}

/* roScripts
Table Design by Mihalcea Romeo
www.roscripts.com
----------------------------------------------- */

table {
	border-collapse: collapse;
	background: #BACAF1;
	border-left: 1px solid #686868;
	border-right: 1px solid #686868;
	border-bottom: 1px solid #686868;
	font: 0.9em/145% 'Trebuchet MS',helvetica,arial,verdana;
	color: #333;
}

td, th {
	padding: 3px;
}

caption {
	padding: 0 0 .5em 0;
	text-align: left;
	font-size: 1.4em;
	font-weight: bold;
/*	text-transform: uppercase;*/
	color: #333;
	background: transparent;
}

/* =links
----------------------------------------------- */

table a {
	color: #333;
	text-decoration: none;
}

table a:link {}

table a:visited {
	font-weight: normal;
/*		color: #666;*/
}

table a:hover {
	border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

thead th, tfoot th, tfoot td {
	background:#333 url("/images/llsh.gif") repeat-x;
	color: #fff;
	cursor: default;
	text-align: left;
	font-size: 0.9em;
}
thead .search {
	font-size: 0.8em;
	border: medium groove;
}

tfoot td {
	text-align: left
}

/* =body
----------------------------------------------- */

tbody th, tbody td {
/*	border-bottom: dotted 1px #333;*/
}

tbody th {
	white-space: nowrap;
}

tbody th a {
	color:#333;
}
tbody .odd {
	background-color: #E4E8F1;
}
tbody .current{
	background-color: yellow;
	font-style: oblique;
}
tbody .highlight {
	border: 2px solid red;
}
tbody tr:hover {
	background:#fafafa
}
tbody .help {
	background-color: #006600;
	color: #EEE;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	cursor: default;
}
tbody .help:hover {
	background-color: #009900;
}

