
<table id="types" class="master">
  <thead>
    <th>Type</th>
  </thead>
	<tbody>
		<% @types.each { |key, value| -%>
			<tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= '/users/'+ key %>'" />
				<td>
					<%= link_to value.name.pluralize, :controller => '/users/' + key %>
				</td>
			</tr>
		<% } -%>
  </tbody>
</table>

