<table id="types" class="master">
  <thead>
    <tr>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% User.user_types.each do |type| %>
      <% key,value = type.shift %>
      <% if Class == value.class %>
        <% url = %W{/users #{value.try(:name).try(:tableize)}}.join('/') %>
        <% current = current_page?(:controller => url) %>
      <% elsif !type[:name].nil? %>
        <% url = "/users/#{type[:name]}" %>
        <% current = true if current_page?(:action => type[:name]) %>
      <% else %>
        <% url = "/users" %>
        <% current = current_page?(:controller => url) %>
      <% end %>

      <tr class="<%= "#{cycle('odd', 'even')}  #{current ? ' current' : ''}" %>"
          onclick="location.href='<%= url -%>'">
            <%= content_tag :td, key %>
            <%= content_tag :td, value.nil? ? '' : button_to(
              'New', "#{url}/new", :method => :get, :class => 'btn standard sml' ) %>
      </tr>
    <% end %>

  </tbody>
</table>

