<% 
	# NOTE: I'm 'not sure why using 'object.new' works here, but it does :/  
%>

<% 	# FIXME
		# I know hitting the DB from a view is not proper, but it beats 
		# calling it from every method on every user controller in the land. %>
<% types = User.find_user_types(:all) %>

<table id="types" class="master">
  <thead>
    <th>Type</th>
    <th></th>
  </thead>
	<tbody>
		<% types.sort.each { |key, value| %>
			<% object = value.to_s.camelize.singularize.constantize  %>
			<% object_path = url_for object.new %>
			<tr class="<%= cycle('odd', 'even') + (current_page?(:controller => object_path) ? ' current' : '') %>" />
				<%= content_tag :td, link_to(key, object_path) , :onclick => "location.href='" + url_for(object_path) + "'" %>
				<td><%= button_to( 'Add', object_path + '/new', :method => :get ) if key != 'ALL'  %></td>
			</tr>
		<% } %>
  </tbody>
</table>

