
<table id="types" class="master">
  <thead>
    <th>Type</th>
  </thead>
	<tbody>
		<% @types.sort.each { |key, value| -%>
			<% object = value.to_s.camelize.singularize.constantize  %>
			<tr class="<%= cycle('odd', 'even') %>" onclick="location.href='<%= url_for object.new %>'" />
				<td>
					<%= link_to key, object.new %>
				</td>
			</tr>
		<% } -%>
  </tbody>
</table>

