<% content_for :left do %>
	<%= render :partial => 'users/user_types' %>
<% end %>

<div id="edit">
	HERE IS WHERE WE EDIT USERS
</div>

<div id="users">
	<%= render :partial => "users/user_list", :locals => { :users => @users }  %>
</div>

<br />

<%#= link_to 'New user', new_user_path %>
