<% content_for :left do %>
<%= debug @types %>

<table id="types" class="master">
  <thead>
    <th>Type</th>
  </thead>
	<tbody>
		<% for t in @types -%>
			<tr><%#= link_to t ,user_path(t), :class => cycle('odd', 'even') %>
				<td><%= link_to_function t , t %></td>
			</tr>
		<% end -%>
  </tbody>
</table>

<% end %>

<div id="users">
	<%= render :partial => "users/user_list", :locals => { :users => @users }  %>
</div>

<br />

<%#= link_to 'New user', new_user_path %>
