<%= debug @users %>
<p>
  <b>Short name:</b>
  <%#=h @user.short_name %>
</p>

<p>
  <b>First name:</b>
  <%#=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%#=h @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%#=h @user.email %>
</p>

<p>
  <b>Campus:</b>
  <%#=h @user.campus_id %>
</p>


<%#= link_to 'Edit', edit_user_path(@user) %> |
<%#= link_to 'Back', users_path %>
