<% items = [
		{:name => 'Assignment Types', :url => '/settings/assignment_categories'},
		{:name => 'Campus Info', :url => '/settings/sites'},
		{:name => 'Import Data', :url => '/settings/imports'},
		{:name => 'Grading Periods', :url => '/settings/terms'},
		{:name => 'Grading Scales', :url => '/settings/grading_scales'},
		{:name => 'Grading Skills', :url => '/settings/grading_skills'}]#,
#		{:name => 'School Calendar', :url => '/settings/events'}]
%>
		
<table class='master'>
	<thead>
		<th>Settings</th>
	</thead>
	<tbody>
		<% for item in items %>
			<tr class="<%= cycle('odd', 'even') + (current_page?(:controller => item[:url]) ? ' current' : '') %>" 
					onclick="location.href='<%= url_for(item[:url]) %>'">
				<td><a href='<%= item[:url]%>'><%= item[:name] %></a></td>
			</tr>
		<% end %>
	</tbody>
</table>
