<% content_for :left do %>
	<%= render :partial => 'settings_list' %>
<% end %>

<h2>Administrator Settings</h2>

<p>This page is used to configure the whole site the way you like it.
Setting the school year and grading periods, building grading scales, and
changing the site name are just some of the things you can do.</p>

<p>Choose one of the options from the menu on the left side of the screen to 
continue.</p>
