<h1>New user_type</h1>

<%= error_messages_for :user_type %>

<% form_for(@user_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_types_path %>
