<table id='courses' class='master'>
  <thead>
    <th>Name</th>
    <th>Term</th>
  </thead>
	<tbody>
	
		<% for course in @courses %>
			<tr class="<%= cycle('odd', 'even') + (current_page?(:id => course) ? ' current' : '') %>" 
					onclick="location.href='<%= url_for( :action => :edit, :id => course.id ) %>'"/>
				<%= content_tag :td, course.name %>
				<%= content_tag :td, course.term.name %>
			</tr>
		<% end %>
	
  </tbody>
</table>

