<div class="box span-14 last">
  <ul class="checklist">
    <% for category in @skill_cats %>
      <%= content_tag :li, category.name, :class=>"category" %>
      <% for skill in category.supporting_skills.active %>
        <li>
          <label for="<%= skill.id -%>">
            <%= check_box_tag skill.id, "1", @course.supporting_skills.include?(skill),
              :onclick => toggle_skill(
              :controller => "courses",
              :id => term.id,
              :action => "update"
            ), :id => skill.id, :term => :term %>
            <%= h skill.description %>
          </label>
        </li>
      <% end  %>
    <%  end %>
  </ul>
</div>
