<div class="box span-14 last">
  <ul class="checklist">
    <% @skill_cats.each do |category| %>
      <%= content_tag :li, category.name, :class=>"category" %>
      <% category.supporting_skills.each do |skill| %>
        <li>
          <label for="<%= "#{skill.id}-#{course_term.id}" -%>">
            <%= check_box_tag skill.id, "1", course_term.supporting_skills.include?(skill),
              :onclick => toggle_skill(
              :controller => "courses",
              :id => course_term.id,
              :action => "update"
            ), :id => "#{skill.id}-#{course_term.id}" %>
            <%= h skill.description %>
          </label>
        </li>
      <% end  %>
    <%  end %>
  </ul>
</div>
