<div class="box span-14 last">
  <ul class="checklist">
    <% for category in @skill_cats %>
      <%= content_tag :li, category.name, :class=>"category" %>
      <% for skill in category.supporting_skills %>
        <li>
          <label for="<%= skill.id -%>">
            <%= check_box_tag skill.id, "1", @course.supporting_skills.include?(skill),
              :onclick => toggle_skill(@course), :id => skill.id %>
            <%= h skill.description %>
          </label>
        </li>
      <% end  %>
    <%  end %>
  </ul>
</div>
