<% params[:value] ||= '||Students'  %>

	<table class='master list' id='students'>
		<thead>
			<th><%= params[:value].split('||')[1] %></th>
		</thead>
		<tbody>
			<% if @students.blank? %>
				<tr><td>Choose a "Homeroom" or a "Class Of Year" above.</td></tr>
			<% else %>
				<% students = @students.sort_by &:last_name %>
				<% for student in students %>
					<tr class="<%= cycle('odd', 'even') %>"/>
						<td><%= link_to_remote student.full_name, :url => add_course_student_path(student) %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>	

