<% content_for :left do %>
	<%= show_course_list %>
<% end %>


<div id='details' class='course_list'>
	<table class='master'>
		<thead>
			<tr><th>Enrolled Students</th><tr>
		</thead>
		<tbody>
			<tr class='help'><td><--&nbsp; Choose a course from the list at the left or add a new one</td></tr>
		</tbody>
	</table>
</div>

