<% content_for :left do %>
	<%= render :partial => 'course_list' %>
<% end %>


<div id='edit_course'>
</div>

<div id='course_details' class='course_list'>
	<%= render :partial => 'courses/course_edit' %>
</div>


<%#= debug @courses %>

