<% content_for :left do %>
	<%= show_course_list %>
<% end %>


<div id='details' class='course_list'>
	<table class='master'>
		<thead>
			<th>Enrolled Students</th>
		</thead>
		<tbody>
				<tr class='help'><td><--&nbsp; Choose a course from the list at the left</td></tr>
		</tbody>
	</table>
</div>

