<% content_for :left do %>
	<%= show_course_list %>
<% end %>

<style>
/* Subsection Tabs
--------------------*/
ul.subsection_tabs {
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	clear:both;
	height:15px;
	clear:both;
}

ul.subsection_tabs li.tab {
	float:left;
	margin-right:7px;
	text-align:center;
}

ul.subsection_tabs li.tab a {
	height:20px;
	padding:4px 20px;
	background-color:#fff;
	color:#666;
	width:80px;
}

ul.subsection_tabs li.tab a:hover {
	color:#333;
}

ul.subsection_tabs li.tab a.active {
	background-color:#C3D9FF;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

ul.subsection_tabs li.source_code {
	float:right;
}
</style>

<!-- example 1 -->  
<ul id="tabs_example_one" class="subsection_tabs">  
  <li class="tab"><a href="#assignments">Assignments</a></li>  
  <li class="tab"><a href="#skills">Supporting Skills</a></li>  
  <li class="tab"><a href="#comments">Comments</a></li>  
</ul>

<div id="assignments"><%= render :partial => "grades" %></div>
<div id="skills"><%= render :partial => "skills" %></div>
<div id="comments"><%= render :partial => "skills" %></div>

<% javascript_tag do %>
  new Control.Tabs('tabs_example_one');  
<% end -%>
