<% content_for :left do %>
	<%= show_course_list %>
<% end %>

<style>
/* Subsection Tabs
--------------------*/
ul.subsection_tabs {
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	clear:both;
	border-bottom:1px solid #ccc;
	height:20px;
	clear:both;
}

ul.subsection_tabs li.tab {
	float:left;
	margin-right:7px;
	text-align:center;
}

ul.subsection_tabs li.tab a {
	display:block;
	height:20px;
	padding:0 6px 0 6px;
	background-color:#fff;
	color:#666;
	width:80px;
}

ul.subsection_tabs li.tab a:hover {
	color:#666;
}

ul.subsection_tabs li.tab a.active {
	background-color:#ddd;
}

ul.subsection_tabs li.source_code {
	float:right;
}
</style>

<!-- example 1 -->  
<ul id="tabs_example_one" class="subsection_tabs">  
  <li class="tab"><a href="#grades">Grades</a></li>  
  <li class="tab"><a href="#skills">Skills</a></li>  
</ul>

<div id="grades"><%= render :partial => "grades" %></div>
<div id="skills"><%= render :partial => "skills" %></div>

<% javascript_tag do %>
  new Control.Tabs('tabs_example_one');  
<% end -%>
