<% reports = [
		{:name => 'Report Card', :url => '/reports/report_card'},
		{:name => 'Student Roster', :url => '/reports/student_roster'}]%>
		
<table>
	<thead>
		<th>Reports</th>
	</thead>
	<tbody>
		<% reports.each do |r| %>
			<tr class="<%= cycle('odd', 'even')%>">
				<td><a href='<%= r[:url]%>'><%= r[:name] %></a></td>
			</tr>
		<% end %>
	</tbody>
</table>
