<% reports = Report.all() %>
<table>
  <thead>
    <tr>
      <th>Reports</th>
    </tr>
  </thead>
  <tbody>
    <% reports.delete_if{ |r| r.include?(:restricted) } unless current_user.is_admin? %>
    <% reports.each do |r| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= link_to r.menuname, "/reports/#{r.name}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
