<% content_for :left do %>
  <%= render :partial => 'report_list', :locals => {:reports => @reports} %>
<% end %>

<h2>Choose your report</h2>

<p>Choose the desired report from the list at the left side of the screen.</p>
